.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 4.5rem;
  margin: 238px auto 0 46px;
}

.u-section-1 .u-image-1 {
  width: 369px;
  height: 137px;
  margin: -115px 92px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  margin: -2px 570px 60px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 415px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 126px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 208px;
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}